/* 
    Set variables
*/
:root {
    --header-bg: #0d5c63;
    --header-fg: #fffffa;
    --header-alt-bg: #0c545a;
    --header-dark-bg: #093e42;
    --h2-fg: #062a2d;
    --txt-fg: #083336;
    --bg: #fffffa;
    --bg-dark: #b2b2af;
    --bg-darker: #4c4c4b;
}

/* 
    Reset CSS 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Font etc. 
*/
html {
    font-family: Helvetica;
    background-color: var(--header-bg);
}

/* 
    General styles 
*/
h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* 
    Header styling 
*/
header {
    color: var(--header-fg);
    background-color: var(--header-bg);

    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

header > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

/* 
    Nav bar styling 
*/
nav {
    background-color: var(--header-bg);
}
 
nav ul {
    list-style: none;
    width: 100%;
}

nav ul a {
    color: var(--header-fg);
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;

    padding-left: 10%;
    transition-duration: .3s;
}

nav ul a:hover {
    background-color: var(--header-alt-bg);
}

nav ul a:focus {
    text-decoration: underline;
    background-color: var(--header-dark-bg);
}

/* 
    Main content styling 
*/
main {
    background-color: var(--bg);
}

main .rent-car {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

main h2 {
    color: var(--h2-fg);
}

main form {
    margin: 0 auto;
}

main form div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5em;
}

main form div > label {
    flex: 1 0 12em; /* min width */
    max-width: 15em;
    margin-bottom: .3em;
    color: var(--txt-fg);
}

main form div > label + * {
    flex: 1 0 16em;
}

main div > input, main div > select {
    padding: 1em;
    color: var(--bg-darker);
    background-color: white; 
    border: .1em solid var(--bg-dark); 
    border-radius: .5em;
}

main input[type="text"]:focus,
main input[type="number"]:focus,
main input[type="date"]:focus,
main select:focus {
    box-shadow: 0px 0px 5px var(--header-bg);
}

main input[type="submit"] {
    margin-left: auto;
    font-weight: bold;
    color: var(--header-fg);
    background-color: var(--header-bg);
    border: none;
    margin-bottom: 2em;
    transition-duration: .3s;
    box-shadow: 0px 0px 9px var(--bg-dark);
}

main input[type="submit"]:hover {
    background-color: var(--header-alt-bg);
    transition-duration: .4s;
}

main input[type="submit"]:focus {
    text-decoration: underline;
    background-color: var(--header-dark-bg);
}

main input[type="submit"]:active {
    box-shadow: 0px 0px 9px var(--bg-darker);
}
/*
    Footer styling
*/
footer {
    background-color: var(--header-bg);
    color: var(--header-fg);
    padding-bottom: 2em;
}

footer > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

footer > p {
    line-height: 1.3em;
    text-align: justify;
}

/*
    Car cards
*/
.car-guide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.car-guide > .car-type {
    margin: 1em;
    padding: 1em;
    flex: 0 1 23%;
    max-width: 30em;
    min-width: 20em;

    background-color: white;
    box-shadow: 3px 3px 9px var(--bg-darker);
    transition: ease-out;
    transition-duration: 0.1s;
}

.car-guide > .car-type > * {
    margin: auto;
    align-content: center;
    width: 80%;
}

.car-guide > .car-type:hover {
    box-shadow: 3px 3px 13px var(--bg-darker);
}

.car-guide > .car-type > table {
    width: 50%;
}

.car-guide > .car-type > table  td:last-child {
    text-align: right;
}

.car-type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.car-type > h2 {
    padding-top: 0;
    text-align: center;
}

.car-type input[type="submit"] {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
}

/*
    Not implemented
*/
.not-implemented > p {
    padding-top: 10em;
    padding-bottom: 10em;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--txt-fg);
}

/*
    Order complete
*/
.order-complete > * {
    width: 80%;
    align-items: center;
    max-width: 1200px;
}

.details {
    padding-top: 10em;
    padding-bottom: 10em;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

.details p {
    /* display: inline; */
}

.details .row:last-child {
    text-align: right;
}

.divider {
    border: 0;
    height: 1px;
    background: black;
}

.details tr {
    color: var(--txt-fg);
    font-size: 1.3em;
}

.details td {
    padding: 0 4em;
    flex: 1 0 10em;
}
.detail td > * {
    flex: 1 0 5em;
}

.details td:last-child {
    text-align: right;
}

/*
    Media types
*/
/* Smartphones */
@media only screen 
and (max-width : 420px) { /* 320px */
    /* Cards remove margins */
    .car-guide {
        width: 100%;
    }

    .car-type {
        width: 100%;
        border: 0px solid black;
        max-width: 100%;
        min-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* Desktops and laptops */
@media only screen 
and (min-width : 768px) {
    /* Nav */
    nav ul {
        width: 100%;
        overflow: hidden;
    }

    nav ul a {
        background-color: var(--header-bg);
        float: left;
        padding: 1em;
    }

    nav ul:first-child {
        padding-left: 10%;
    }
}